.about-us-main-page{
    background-color: antiquewhite;
}

.about-us-main-page *{
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.our-approach-heading{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
    width: 50%;
}


.content-three{
    padding-left: 4%;
    font-size: 20px;
}

.approach-content{
    display: flex;
    width: 100%;
}


.button{
    width: 30%;
    color: white;
    height: 10%;
    font-weight: bold;
    background-color: #D16666;
}

.gallery-button{
    width: 30%;
    color: white;
    height: 10%;
    font-weight: bold;
    background-color: #D16666;
}

.team-button{
    width: 30%;
    color: white;
    height: 10%;
    font-weight: bold;
    background-color: #D16666;
}


.pic-content-one{
    width: 100%;
}

.pic-content-two{
    width: 50%;
}

.paragraph-content-two{
    width: 100%;
    padding-left: 2%;
    font-size: 20px;
}

.paragraph-two{
    display: flex;
    width: 100%;
}


.three{
    width: 100%;
    width: 100%;
    padding-left: 2%;
    font-size: 20px;
}


.all-last-content{
    display: flex;
}


