.Header {
  width: 100%;
  z-index: 1;
  position: fixed;
  height: 200x;
  background-color: white;
  font-family: Helvetica;
}

.header-wrapper {
  width: 100%;
  /* z-index: inherit; */
  padding-bottom: 1px;
  -webkit-box-shadow: 2px 2px 3px gray;
  box-shadow: 2px 2px 3px gray;
}

.img-logo-div {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-logo-div img {
  width: 22%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-nav {
  width: 100%;
}

.navbar {
  overflow: hidden;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a, .navbar div {
  font-size: 16px;
  color:#898989;
  font-weight: bold;
  margin:0;
  margin-right: 5px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  text-align: center;
  border: none;
  outline: none;
  color: #898989;
  font-weight: bold;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: burlywood;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  border-bottom: 2px solid #937E5B;
  padding-bottom: 5px;
}

.header-gap {
  height: 100%;
}